.bo{  padding:30px 0 ;  font: 12px/24px "微软雅黑","华文细黑",Arial,sans-serif; min-width:1200px ;
	
}
.head{ width:1200px ; margin:0 auto ;
	
}
.item img{ margin:0 auto ;
	
}
#lbt{background-color: #F8F8F8; padding:30px 0 ;
	
}
.body span{ color: #9D9D9D;
	
}
.bodyDiv{margin:30px 0 ;
	
}
.footer{background-color: #F8F8F8;color: #666; font: 11px/27px "微软雅黑"; margin:30px 0;
	
}
.bo a{ color:#666;
	
}
.bo a:hover{ text-decoration: none;
	
}
